<div class="main">
  <div class="popup">
    <div class="signup">
      <%= render 'users/form' %>
    </div>
    <div class="login">
      <%= render 'sessions/form' %>
    </div>
  </div>
  <div class="headline">
    <div class="location">

      <% if current_user == nil %>
        <div class="pickLocation">
          <%= form_tag(new_meetup_path, method: "get") do %>
          <h3 class="question">where would you like to eat?</h3>
          <%= label_tag(:eat_area, "Enter Address: ") %><%= text_field_tag(:eat_area) %>
          <br>
          <%= button_tag "Get Places!", class: 'form_button' %>
        <% end %>
      </div>
      <div class="join">
        <% if Meetup.find_by(joiner_id: nil) != nil %>
          <h3 class="question">Would you like to join a random lunch?</h3>
          <%= form_tag(random_event_path, method: "get") do %>
          <label for="meetup[name]">Your Name:
          </label>
          <input type="text" name="meetup[name]">
          <br>
          <label for="meetup[phone]">Your Phone Number:
          </label>
          <input type="text" name="meetup[phone]">
          <br>
          <label for="meetup[email]">Email Address:
          </label>
          <input type="text" name="meetup[email]">
          <br>
          <%= button_tag "Join!", class: 'form_button' %>
        <% end %>
      </div>
    <%else%>
      <h3 class="question">
        No meetups you can join yet! Why don't you create one?
      </h3>
    <%end%>
  </div>

  <!---location end--->
  <% if @eat_area != nil %>
    <div class="yelpList">
      <% @yelp_response["businesses"].each do |b| %>
        <div class="grid-item yelp">
          <h4>
            <%= b['name']%></h4>
          <p> <span class="label">Address:</span>
            <%= b['location']['address1']%>,
            <%= b['location']['city']%>,
            <%= b['location']['zip_code']%></p>
          <p> <span>Price:</span>
            <%= b["price"] %></p>
          <p><span>Rating:</span>
            <% if b["rating"] != nil %>
            <% b["rating"].to_i.times do %>
          <img class="star" src="https://png.pngtree.com/svg/20170626/star_rating_425874.png" size="20px">
          <% end %>
          <% end %>
          <p><span>Reviews:</span>
            <%= @client.review(b["id"]).reviews[0].text %></p>
            <hr>
          <%= form_for [@meetup] do |m| %>
          <% @location = b['location']['address1'] + " " + b['location']['city'] + " " + b['location']['zip_code'] %>
            <label for="meet_time">Meet Time:
            </label>
            <input type="time" name="meet_time" required="required">
            <br>
            <label for="meet_date">Meet Date:
            </label>
            <input type="date" name="meet_date" required="required">
            <br>
            <label for="meetup[name]">Your Name:
            </label>
            <input type="text" name="meetup[name]" required="required">
            <br>
            <label for="meetup[phone]">Your Phone Number:
            </label>
            <input type="text" name="meetup[phone]" required="required">
            <br>
            <label for="meetup[email]">Email Address:
            </label>
            <input type="text" name="meetup[email]" required="required">
            <br>
            <input type="text" name="location" value="<%= @location %>" hidden="hidden" required="required">
            <br>
            <input type="text" name="location_name" value="<%= b['name'] %>" hidden="hidden" required="required">
            <br>
            <input type="submit" name="" value="Create meetup" class="form_button">
          <%end%>
        </div>
      <%end%>
    </div>
<%else%>
  <div class="landbox">
    <img src="/logo_transparent.png" alt="" class="logo">
    <p>Plate-onicly is a place for strangers to meet and have lunch. We were founded in 2018, to help strangers not eat alone. We wanted to create an experience where two people can come together and share bread ... or pasta ... or a burger together. You can have a real conversation. Create an event or join a random event. For guest users it is truly random, so if you would like more options, go ahead and create an account with us. Won't you join us to have lunch with a stranger! At Plate-onicly there's a plate for everyone. </p>

    </div>
<%end%>
</div>
<% else %>

<div class="headline">
  <div class="location">
    <div class="pickLocation">
      <h2>Where area you like to eat?</h2>
      <%= form_tag(new_meetup_path, method: "get") do %>
      <%= label_tag(:eat_area, "Enter Address") %><%= text_field_tag(:eat_area) %>
      <br>
      <%= submit_tag "Get Places!" %>
    <% end %>
  </div>
  <div class="join">
    <h2>Click here to meetup</h2>
    <!-- <button type="button" name="button">Join</button> -->
    <%= link_to "Join Random Event", random_event_path %>
  </div>

</div>

<!-- Location End  -->

<% if @eat_area != nil %>
  <div class="yelpList">
    <% @yelp_response["businesses"].each do |b| %>
      <div class="grid-item yelp">
        <p>Name:
          <%= b['name']%></p>
        <p>Address:
          <%= b['location']['address1']%>,
          <%= b['location']['city']%>,
          <%= b['location']['zip_code']%></p>
        <p>Price:
          <%= b["price"] %></p>
        <p>Rating:
          <% if b["rating"] != nil %>
          <% b["rating"].to_i.times do %>
          <img class="star" src="https://png.pngtree.com/svg/20170626/star_rating_425874.png" size="20px">
          <% end %>
          <% end %>
        <p>Reviews:
          <%= @client.review(b["id"]).reviews[0].text %></p>
        <%= form_for @meetup do |m| %>
        <%= m.time_select :meet_time, start_hour: 8, end_hour: 20, minute_step: 30, include_day: false, include_year: false, include_month: false, required: true %>
        <br>
        <%= m.date_select :meet_date, :order => [:month, :day, :year], start_year: (Time.now.year), required: true %><br>
        <%= m.text_field :location, value: "#{b['location']['address1']}, #{b['location']['city']}, #{b['location']['zip_code']}", hidden: true, required: true %>
        <%= m.text_field :location_name, value: "#{b['name']}", hidden: true, required: true %>
        <%= m.submit %>
      <%end%>
    </div>
  <% end %>
</div>
<% else %>
<div class="landbox">
  <img src="/logo_transparent.png" alt="" class="logo">
  <p>Plate-onicly is a place for strangers to meet and have lunch. We were founded in 2018, to help strangers not eat alone. We wanted to create an experience where two people can come together and share bread ... or pasta ... or a burger together. You can have a real conversation. Create an event or join a random event. For guest users it is truly random, so if you would like more options, go ahead and create an account with us. Won't you join us to have lunch with a stranger! At Plate-onicly there's a plate for everyone. </p>

  </div>

<% end %>

</div>
<% end %>
</div>
