<% @yelp_response["businesses"].each do |b| %>
  <div class="">
    <p>Name:
      <%= b["name"]%></p>
    <p>Address:
      <%= b["location"]['address1']%>,
      <%= b["location"]['city']%>,
      <%= b["location"]['zip_code']%></p>
    <p>Rating:
      <%= b["rating"] %></p>
    <p>Reviews:
      <%= @client.review(b["id"]).reviews[0].text %></p>
  </div>
  <hr>
<% end %>
