<div class="userHome">

  <% if logged_in? %>
    <h2>Welcome
      <%= @user.first_name %>
      <%= @user.last_name %>
      User#:
      <%= current_user.id %>
    </h2>
    <h3>Your Interests:</h3>
    <% @user.interests.each do |interest| %>
      <%= interest.name %><br>
    <% end %><br>

    <%= link_to "Edit Information", edit_user_path %> <br>

    <% if @current_meetup == nil and @current_meetup_joined == nil %>
      <%= link_to "Create Event", new_user_meetup_path(current_user) %>
      <br>
    <% end %>
    <% if @current_meetup == nil and @current_meetup_joined == nil %>
      <%= link_to "Join Random Event", random_event_path %><br>
    <% end %>

    <% if @current_meetup != nil %>
      <%= link_to "Current Event", user_meetup_path(current_user) %><br>
      <%= link_to "Cancel/End Event", cancel_event_path %><br>
      <% elsif @current_meetup_joined != nil %>
        <%= link_to "Current Event", user_meetup_path(current_user) %><br>
        <%= link_to "Leave Event", leave_event_path %><br>
      <% else %>
      <% end %>

    <% else %>
      <h1>(You are not logged in)</h1>
    <% end %>
  </div>

  <div class=""></div>
